[Unit]
Description=KMonad keyboard configuration
Documentation=https://github.com/kmonad/kmonad

[Service]
Type=simple
ExecStart=/usr/bin/kmonad /home/cyrus/.config/kmonad/config.kbd
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
